.video-container{
    position: absolute;
    z-index: -100;
    top: 0;
    left:0;
    bottom: 0;
    width: 100%;
    object-fit: cover;
}

.video-container video{
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background: rgba(0,0,0,0.5);
}

.video-container .content{
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
}

.video-container .content h1{
    color: #ffffff;
    font-weight: 600;
}

.video-container .content h3{
    color: #ffffff;
    font-weight: 300;
}

.formulario{
    background: rgba(0,0,0,.5);
    padding: 50px;
}

.video-container .containerForm{
    height: 100%;
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.video-container .form{
    padding-top: 10px;
    font-size: 14px;
    margin-top: 10px;

}

.container .content .titulo{
    padding-top: 300px;
}

.container .content .cards{
    padding-top: 200px;
}

.video-container .containerForm{
    height: 100%;
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.video-container .form{
    padding-top: 10px;
    font-size: 14px;
    margin-top: 10px;

}

input[type="email"]:focus,
input[type="password"]:focus{
    outline: none;
    border:none;
    margin: 0;
}

.video-container .login-form{
    height: 280px;
    margin: 10px;
    opacity: 75%;
}

.btn{
    font-size: 15px;
    transform: translateY(-10px);
    width: 150px;
    justify-content: center;
    align-items: center;
    margin: 0;
    left: 15px;
}

.login-form{
    padding: 50px 0;
}

.login-form form{
    background-color: rgb(37, 37, 37);
    max-width: 500px;
    margin: auto;
    padding: 40px 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 2px 10px rgb(131, 130, 130);
}

.login-form .form-name{
    text-align: center;
    font-size: 40px;
    color: #78c2ad;
    height: 100px;
    margin: auto;
    margin-bottom: 25px;
    line-height: 100px;
}

.login-form .item{
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.login-form .login-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #78c2ad;
    border: none;
    color: white;
    margin-top: 20px;
}

.login-form .form-group a {
    color: #78c2ad !important;
}

.login-form .social-media{
    max-width: 500px;
    background-color: rgb(37, 37, 37);
    margin: auto;
    padding: 30px 0;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #78c2ad;
    border-top: 1px solid #dee9ff;
    box-shadow: 0px 2px 10px rgb(131, 130, 130);
}

.btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    border-radius: 10px !important;
    margin: 5px 0;
}

.btn:hover {
    text-decoration: none;
    opacity: 0.6;
}


.navbar-brand{
    color: #78c2ad;
}

.navbar-brand{
    color: #78c2ad;
}

.navbar-brand:hover{
    color: #ffffff;
}

.nav-link{
    color: #78c2ad;
}

.nav-link:hover{
    color: #ffffff;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.btn-primary{
    background-color: #78c2ad;
}

.btn-primary:hover{
    background-color: #78c2ad;
}

#videoBG{
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    #videoBG{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG{
        width: auto;
        height: 100%;
    }
    body{
        background-size: cover;
    }
}